.App {
	/*text-align: center;
	display: flex;
	justify-content: space-around;
	gap: 30px;*/
}

.container {
	/*margin: 0 auto;*/
	max-width: 1310px;
	display: flex;
	justify-content: space-around;
	gap: 30px;
}